<!DOCTYPE html>
<html>
<head>
  <title>Tweetful</title>
  <a href="/"><h2>Tweetful</h2></a>
  <%= link_to "About Us", about_path %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
    <span class="icon bird-topbar-blue"></span>
  <span class="sign-out-button"><%= button_to("Sign out", destroy_user_session_path, :method => :delete) if user_signed_in? %></span>
</nav>
<%= notices %>
<%= yield %>
</body>
</html>
